
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Hola Mundo </h1><br /><br />
        <h2>BIENVENIDOS A GITHUB</h2><br />
        <h3>WEB II</h3>
    </div>
</body>
</html>
