@{
    ViewBag.Title = "Home Page";
}

<h1> Bienvenido a mi pagina web</h1>
<form>
    <label>Nombres: </label>
    <input type="text" name="nombre" placeholder="Ingresa tu nombre"/>
    <input type="submit" value="Enviar" />
</form>
<hr />
<p>UPT<strong>Ingenieria de Sistemas</strong></p>